/* 
    Document   : style
    Created on : Jun 10, 2010, 7:30:55 AM
    Author     : naresh kapse
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}

body{font-family: arial,helvetica,sans;}

root {display: block;}

#wrapper {width: 1068px;margin-left: auto;margin-right: auto;}

#header {margin-top: 10px;height: 100px;color: silver;overflow:hidden;}
#logo{float:left;}
#header .header_ad{float:right;}

#page {overflow: hidden;margin-top: 20px;}

#main_content {width: 728px;float: left;}

h1{ font-size: 20px;}
.lcolor { color: #CA8EFF; }
.last_login{ font-size:12px;}

h2.heading { font-size:22px;margin-bottom:10px; border-bottom: 2px dashed black; }

#navigation{background:url("/images/nav-bg.png") repeat scroll 0 0 transparent;overflow:hidden;}
#navigation ul{height:36px; float:left;}
#navigation #login_details{height:36px; float:right;}
#navigation ul li{ float:left;list-style:none outside none;line-height:2.5em; padding:0px 10px;}
#navigation ul li a{ text-decoration: none; font-size: 14px; }
#navigation ul li a:hover{ text-decoration: none; color: #ffffff;}

#intro{	border: 1px solid black; padding: 10px; margin-bottom: 15px;}
#intro h2{ padding: 5px;}

.active_polls{  }
.active_polls .category{ background-color: #E0E0E0; padding: 5px 0px 5px 5px; } /* #E0E0E0 */

.active_poll{ border:1px solid black; margin:10px 5px; padding:20px; }
.active_poll h2{ font-size: 18px;}
.active_poll h2 a {text-decoration: none;}
.active_poll .option{ margin: 3px 0 3px 15px; }
.active_poll input[type='submit']{margin-top: 5px;}

.comment { border-top: 1px dotted black; margin-top: 10px; }
.comment .user-block{overflow:hidden;}
.comment .user-comment{float:left; width:80%;}
.comment .user-likes{float:right;}
.comment .user-likes .likes{background:url("/images/img_sprites.png") no-repeat scroll -68px 0 transparent;	height:35px;	width:35px;}
.comment .user-likes .likes-high-light{background:url("/images/img_sprites.png") no-repeat scroll 1px 0 transparent; cursor:pointer;}
.comment .user-likes .dislikes{background:url("/images/img_sprites.png") no-repeat scroll -101px 0 transparent;	height:35px;	width:35px;}
.comment .user-likes .dislikes-high-light{background:url("/images/img_sprites.png") no-repeat scroll -31px 0 transparent; cursor:pointer;}
.comment .author{ font-style:italic; font-size:14px; padding: 2px 0px;}
.comment .author-img img{padding: 2px; border: 1px solid black; margin: 0px 5px 5px 0px;}
.comment .details{ overflow: hidden; background-color: E8E8E8; margin-bottom: 4px;}
.comment .details .author { float:left;}
.comment .details .time { float:right; font-size: 10px; line-height: 2em;}
.comment .desc{font-size:13px;}

form .row{ padding: 5px 0px; }
form .row label{ position:absolute; }
form .row input, textarea, select{ margin-left: 105px;}
form .row input[type='submit'] {position: relative;}

.warn { font-size:12px; float:right; color: #ff0909;}

.errors {border: 1px dashed red; padding: 5px 5px 0px;}
.errors h2{ color: #ff0909;}
.errors ul li{font-size:14px;list-style:disc outside none;margin-left:40px;padding:4px 0;}

#right_section { width: 320px;float: left; }
#right_section { margin-left: 20px; }
#right_section .section{ margin-bottom: 10px; }
#right_section .heading { background-color: #E0E0E0; padding: 5px 0 5px 5px; }
#right_section ul{}
#right_section ul li{ list-style: none; padding: 2px 10px;}

#right_section .search_form { margin: 10px 0px; }
#right_section .search_form select {margin-left:0px;}

#footer {border-top: 1px solid black;margin-top: 10px;display: block;position: relative; overflow: hidden;}
#footer .links{float:right; font-size: 12px;}
#footer .copy {float:left;}
#footer_content{margin-top: 20px;}

.last_login { text-align: center; }
