<h2 class='heading'>About Us</h2>
<p>
	CatyPolls &copy; is a Polls application. You can create free polls and share it with friends. Invite friends to discuss about the poll. We are trying to capture the thoughts of the community. Once we have enough data we will try to project the way world is thinking and how their thoughts are getting processed.
</p>

<ul>
	<li>
  You can <%= link_to 'register', new_account_path %> for free.
</li>
</ul>
