<div id='intro'>
<h1>Welcome to <span class='lcolor'>Cat</span>egor<span class='lcolor'>y Polls</span>.</h1>
<p>
	Create Free Polls &amp; discuss on the poll. Invite friends and Shareit with people to create a great impact.
</p>
</div>
<div class='poll_search'>
	
</div>

<%= render :partial => 'common/polls', :locals => { :polls => @polls } %>