<p>
CatyPolls take your privacy and security very seriously. This privacy statement discloses our information practices and declares our data collection methods, usage and confidentiality policies throughout our site.
</p>
<br>
<h2 class='heading'>General Policy</h2>

<ul class='small'>
	<li>
	 Users are advised not to share their login details with others.
	</li>
	<li>
		Users are not supposed to upload the copy-right materials and images.
	</li>
	<li>
 		We allow our users to create polls, for their own personal use. The software records IP address, browser information, OS information, time and date of event, and any text or choices entered by the recipient.		
	</li>
	<li>
		Violation of any policy may lead to termination of the account.
	</li>
</ul>