<h3>Create Poll</h3>
<% unless @poll.errors.empty? %>
<div class='errors'>
 <%= error_messages_for :poll %>
</div>
<% end %>

<% form_for @poll,:html => { :multipart => true } do |f| %>
<%= render :partial => "poll", :locals => {:f => f} %>
<div class="row">
  <%= f.submit  "Create Poll" %>
</div>
<% end %>

<script type='text/javascript'>
	(function($) {
		$("#poll_start_date").datepicker({ minDate: new Date(), maxDate: '+1w'});
		$("#poll_end_date").datepicker({ minDate: new Date($("#poll_start_date").val()), maxDate: '+2w'});
	})(jQuery);
</script>