<h3>Create Poll</h3>
<% unless @poll.errors.empty? %>
<div class='errors'>
 <%= error_messages_for :poll %>
</div>
<% end %>

<% form_for @poll, :poll do |f| %>
<%= render :partial => "poll", :locals => {:f => f} %>
<div class="row">
  <%= f.submit  "Create Poll" %>
</div>
<% end %>

<script type='text/javascript'>
	(function($) {
		$("#poll_start_date").datepicker();
		$("#poll_end_date").datepicker();
	})(jQuery);
</script>