<div class='active_polls'>	
	<% if @polls.empty? %>
		<h3>There aren't any polls in this category.</h3>
	<% end %>
	
<% @polls.each do |poll| %>
<div class='active_poll'>
<% if poll.is_active and pc_read.include?(poll.id.to_s) %>
	<%= render :partial => 'common/show_poll', :locals => {:poll => poll}%>
<% else %>
	<%= render :partial => 'common/show_poll_result', :locals => {:poll => poll}%>
<% end %>
</div>
<% end %>
</div>

<%= will_paginate @polls %>