<% form_tag voting_path(poll.uniqueid) do |f|%>
	<h2><%= link_to poll.question, external_path({:category => poll.category.name,:uniqueid => poll.uniqueid, :name => poll.name}) %></h2>
	<div class='options'>
		<% poll.options.each do |option| %>
			<div class='option'><%= radio_button_tag 'option', option.id %><%= option.name%></div>
		<% end %>
	</div>
	<%= submit_tag 'vote'%>
<% end %>