<% content_for :header do %>
<meta property="og:title" content="<%= poll.question %>" />
<meta property="og:description" content="<%= poll.description %>" />
<% unless poll.photo.url.ends_with?('missing.png') %>
	<meta property="og:image" content="<%= image_tag(poll.photo.url(:medium)) %>"/>
<% end %>
<meta name="medium" content="news" />
<% end %>


<div class='social_block'>
<div class='fbshare'>
	<a name="fb_share"></a> 
	<script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" 
	        type="text/javascript">
	</script>
</div>
<div class='twshare'>
	<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="catypolls">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
</div>
<div class='gshare'>
<a title="Post to Google Buzz" class="google-buzz-button" href="http://www.google.com/buzz/post" data-button-style="small-count"></a>
<script type="text/javascript" src="http://www.google.com/buzz/api/button.js"></script>
</div>
</div>